<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <div class="bg-black text-white p-4 rounded">
      <h1 class="text-center">Resumen del sitio</h1>

      <form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="validationCustom01" value="" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Apellidos</label>
    <input type="text" class="form-control" id="validationCustom02" value="" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Altura(cm)</label>
    <div class="input-group has-validation">
      <input type="number" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        por favor ingrese su altura.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">nivel de experiencia en recetas</label>
    <input type="text" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
      por favor compruebe el nivel de experiencia que tiene.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">sexo</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Elegir...</option>
      <option>Masculino</option>
      <option>Femenino</option>
      <option>otro</option>
      <option>Prefiero no decirlo</option>
    </select>
    <div class="invalid-feedback">
      Por favor ingrese su genero.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Edad</label>
    <input type="number" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Por favor ingrese su edad.
    </div>
  </div>

    <div class="col-md-4">
    <label for="validationCustom02" class="form-label">peso(kg)</label>
    <input type="number" class="form-control" id="validationCustom02" value="" required>
    <div class="valid-feedback">
      por favor ingresa tu peso!
    </div>
  </div>

    <div class="col-md-3">
    <label for="validationCustom04" class="form-label">objetivos</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Elegir...</option>
      <option>Bajar de peso</option>
      <option>Aumentar masa muscular</option>
      <option>Mantener peso</option>
      <option>Mejorar digestión</option>
      <option>Controlar una condición (diabetes, hipertensión)</option>
    </select>
    <div class="invalid-feedback">
      Por favor seleccione una de las opciones.
    </div>
  </div>

    <div class="col-md-3">
    <label for="validationCustom04" class="form-label">nivel de actividad fisica</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Elegir...</option>
      <option>Sedentario</option>
      <option>Ligero o poco activo</option>
      <option>Moderado o activo</option>
      <option>Intenso o muy activo</option>
      <option>Atleta o extremadamente activo</option>
    </select>
    <div class="invalid-feedback">
      Por favor seleccione una de las opciones.
    </div>
  </div>

    <div class="col-md-3">
    <label for="validationCustom04" class="form-label">alergias</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Elegir...</option>
      <option>Cacahuates (maní)</option>
      <option>Leche de vaca</option>
      <option>Huevo</option>
      <option>Pescado</option>
      <option>Frutos secos</option>
    </select>
    <div class="invalid-feedback">
      Por favor seleccione una de las opciones.
    </div>
  </div>

    <div class="col-md-3">
    <label for="validationCustom04" class="form-label">intolerancias</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Elegir...</option>
      <option>Intolerancia a la lactosa</option>
      <option>Intolerancia al gluten</option>
      <option>Intolerancia a la fructosa</option>
      <option>Intolerancia a la cafeína</option>
    </select>
    <div class="invalid-feedback">
      Por favor seleccione una de las opciones.
    </div>
  </div>

    <div class="col-md-3">
    <label for="validationCustom04" class="form-label">dietas específicas</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Elegir...</option>
      <option>vegana</option>
      <option>vegetariana</option>
      <option>keto</option>
      <option>mediterránea</option>
    </select>
    <div class="invalid-feedback">
      Por favor seleccione una de las opciones.
    </div>
  </div>

  <form>
  <div class="row g-3 align-items-center">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" maxlength="20" required>
    <div id="passwordHelpInline" class="form-text">
      la contraseña debe tener entre 8 y 20 caracteres.
  </div>
</form>

  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">enviar formulario</button>
  </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>